## Analysis of a Car Sell Dataset Part 2

There are two goals in the second analysis task: (1), train linear regression models to predict the selling prices of cars; (2) assess the data ethics issues. There are *7* questions in this portfolio. 

The first goal involves a standard Data Science workflow: exploring data, building models, making predictions, and evaluating results. In this task, we will explore the impacts of feature selections and different sizes of training/testing data on the model performance. We will use another cleaned car_sells sub-dataset that **is different from** the one in “Analysis of a Car Sell Dataset” task 1. This goal covers Questions *1-6*. 

Question *7* is about data ethics issue.

In [3]:
your_name = "John xxx/Jane xxx"
your_student_id = "XXXXXXXX"

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline

### Q1: Import Cleaned Car Sell Dataset
The csv file named 'car_sells_clean_data.csv' is provided. You may need to use the Pandas method, i.e., `read_csv`, for reading it. After that, please print out its total length.

In [36]:
df = pd.read_csv('car_sells_clean_data.csv')

In [37]:
df.shape

(3657, 8)

### Q2: Explore the Dataset

* Use the methods, i.e., `head()` and `info()`, to have a rough picture about the data, e.g., how many columns, and the data types of each column.
* As our goal is to predict cars' selling prices given other columns, please get the correlations between year/km_driven/seller_type/fuel/owner and selling_price by using the `corr()` method.
* To get the correlations between different features, you may need to first convert the categorical features (i.e., seller_type and owner) into numerial values. For doing this, you may need to import `OrdinalEncoder` from `sklearn.preprocessing` (refer to the useful exmaples [here](https://pbpython.com/categorical-encoding.html))
* Please provide ___necessary explanations/analysis___ on the correlations, and figure out which are the ___most___ and ___least___ corrleated features regarding selling_price. Try to ___discuss___ how the correlation will affect the final prediction results, if we use these features to train a regression model for selling_price prediction. In what follows, we will conduct experiments to verify your hypothesis.

In [38]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007.0,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007.0,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012.0,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017.0,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014.0,450000,141000,Diesel,Individual,Manual,Second Owner

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657 entries, 0 to 3656
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3657 non-null   object
 1   year           3657 non-null   float64
 2   selling_price  3657 non-null   int64
 3   km_driven      3657 non-null   int64
 4   fuel           3657 non-null   object
 5   seller_type    3657 non-null   object
 6   transmission   3657 non-null   object
 7   owner          3657 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 228.7+ KB

In [40]:
df['year'].corr(df['selling_price'])

0.41110276220633124

In [41]:
df['km_driven'].corr(df['selling_price'])

-0.17720277985723884

In [48]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df["seller_type_code"] = ord_enc.fit_transform(df[["seller_type"]])
df["fuel_code"] = ord_enc.fit_transform(df[["fuel"]])
df["owner_code"] = ord_enc.fit_transform(df[["owner"]])
#df[["seller_type", "seller_type_code"]].head(11)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seller_type_code,fuel_code,owner_code
0,Maruti 800 AC,2007.0,60000,70000,Petrol,Individual,Manual,First Owner,1.0,1.0,0.0
1,Maruti Wagon R LXI Minor,2007.0,135000,50000,Petrol,Individual,Manual,First Owner,1.0,1.0,0.0
2,Hyundai Verna 1.6 SX,2012.0,600000,100000,Diesel,Individual,Manual,First Owner,1.0,0.0,0.0
3,Datsun RediGO T Option,2017.0,250000,46000,Petrol,Individual,Manual,First Owner,1.0,1.0,0.0
4,Honda Amaze VX i-DTEC,2014.0,450000,141000,Diesel,Individual,Manual,Second Owner,1.0,0.0,1.0

In [34]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df["fuel_code"] = ord_enc.fit_transform(df[["fuel"]])
df[["fuel", "fuel_code"]].head(11)

      fuel  fuel_code
0   Petrol        1.0
1   Petrol        1.0
2   Diesel        0.0
3   Petrol        1.0
4   Diesel        0.0
5   Petrol        1.0
6   Petrol        1.0
7   Petrol        1.0
8   Petrol        1.0
9   Petrol        1.0
10  Petrol        1.0

In [52]:
df['seller_type_code'].corr(df['selling_price'])

-0.20863704840276948

In [53]:
df['fuel_code'].corr(df['selling_price'])

-0.2776270434173492

In [54]:
df['owner_code'].corr(df['selling_price'])

-0.2055235873112245

### Q3: Split Training and Testing Data
* Machine learning models are trained to help make predictions for the future. Normally, we need to randomly split the dataset into training and testing sets, where we use the training set to train the model, and then leverage the well-trained model to make predictions on the testing set.
* To further investigate whether the size of the training/testing data affects the model performance, please randomly split the data into training and testing sets with different sizes:
    * Case 1: training data containing 10% of the entire data;
    * Case 2: training data containing 90% of the entire data.
* Print the shape of training and testing sets in the two cases.

### Q4: Train Linear Regression Models with Feature Selection under Cases 1 & 2
* When training a machine learning model for prediction, we may need to select the most important/correlated input features for more accurate results.
* To investigate whether feature selection affects the model performance, please select two most correlated features and two least correlated features regarding selling_price, respectively.
* Train four linear regression models by following the conditions:
    - (model-a) using the training/testing data in case 1 with two most correlated input features
    - (model-b) using the training/testing data in case 1 with two least correlated input features
    - (model-c) using the training/testing data in case 2 with two most correlated input features
    - (model-d) using the training/testing data in case 2 with two least correlated input features
* By doing this, we can verify the impacts of the size of traing/testing data on the model performance via comparing model-a and model-c (or model-b and model-d); meanwhile the impacts of feature selection can be validated via comparing model-a and model-b (or model-c and model-d).

### Q5: Evaluate Models
* Evaluate the performance of the four models with two metrics, including MSE and Root MSE
* Print the results of the four models regarding the two metrics

### Q6: Visualize, Compare and Analyze the Results
* Visulize the results, and perform ___insightful analysis___ on the obtained results. For better visualization, you may need to carefully set the scale for the y-axis.
* Normally, the model trained with most correlated features and more training data will get better results. Do you obtain the similar observations? If not, please ___explain the possible reasons___.

### Q7: Data Science Ethics
*Please read the following examples [Click here to read the example_1.](https://www.vox.com/covid-19-coronavirus-us-response-trump/2020/5/18/21262265/georgia-covid-19-cases-declining-reopening) [Click here to read the example_2.](https://viborc.com/ethics-and-ethical-data-visualization-a-complete-guide/)

*Then view the picture ![My Image](figure_portfolio2.png "This is my image")
Please compose an analysis of 100-200 words that evaluates potential ethical concerns associated with the infographic, detailing the reasons behind these issues.